@charset "UTF-8";

main {
    background-color: white;
    width: 800px;
    padding: 10px;
    border-radius: 10px;
    margin: auto
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to bottom, #0ACC61, #0DFF7A, #59FFA4);
    background-attachment: fixed;
}

h1 {
    color: #0D7BFF;
    font-weight: bolder;
    width: 350px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

h1#principal {
    text-align: center;
    background-color: #0CAAE8;
    color: white;
    font-size: 3em;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 12px #0CAAE8;
    padding: 5px;
}

h2 {
    background-color: white;
    width: 155px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 8px black;
    text-align: left;
}

.basico {
    background-color: rgb(79, 163, 79);
    width: 80px;
}

.intermediario {
    background-color: rgb(255, 255, 97);
}

.avancado {
    background-color: rgb(255, 78, 78);
    width: 115px;
}

p {
    text-align: justify;
}
 
iframe {
    width: 800px;
    height: 400px;
}